@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
}
